* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container{
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-direction: column; 
    background-color: rgb(148, 236, 248);
  }  
 .login-page{
    margin: 40px auto;
 } 
 .registration h1{
    margin-bottom: 20px;
}
input{
    padding: 10px;
}
 .login h1{
     margin-bottom: 20px;
 }
  .login-btn{
    color:  rgb(0, 225, 255);
    cursor: pointer;
    width: 30%;
    margin: 20px auto;
    padding: 10px;
  }
  .login-btn:hover {
    background-color: #000;
  }a{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    color: brown;
  }
  .links{
    display: flex;
  }