* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column; 
    background-color: rgb(148, 236, 248);
  }  
  .header{
    margin: 10px 25%;
  }
 .registration{
    margin: 40px auto;
 } 
 .registration h1{
    margin-bottom: 20px;
}
input{
    padding: 10px;
    margin: 20px auto;
}
 .submit{
    color:rgb(0, 225, 255);
    cursor: pointer;
    width: 40%;
    margin: 20px 25%;
    padding: 10px;
  }
  .submit:hover {
    background-color: #000;
  }
  a{
    text-decoration: none;
    display: inline;
    margin: 10px;
    padding: 20px;
    color: brown;
  }